---
permalink: /index.html
title: NLPDate
---

<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>{{page.title}}</title>
  <!-- Bootstrap -->
  {% include head/import-common-lib.html %}
  <!-- GoogleFont -->
  {% include head/import-fonts.html %}
  <!-- Analytics -->
  {% include head/import-analytics.html %}
  <!-- Highlighter -->
  {% include head/import-highlight.html %}
  <script src="https://cdn.jsdelivr.net/gh/ShotaOki/NLPDate@v0.0.1/es2015/nlpdate-main.min.js"></script>
  <script src="./landing/js/test_data.js"></script>
  <script src="./landing/js/tabs.js"></script>
  <script>
    var _container;
    window.onload = function () {
      let container = new Container();
      _container = container;
      let first_position = "home";
      let nav_link_list = [
        { key: "home", content: "ホーム", body: "html-home" },
        { key: "start", content: "はじめる", body: "html-usage" },
        { key: "sample", content: "動作サンプル", body: "html-sample" },
        {
          key: "document",
          content: "開発者向けAPIドキュメント",
          href:
            "https://shotaoki.github.io/NLPDate.github.io/main/globals.html",
        },
      ];
      container.init(nav_link_list, first_position);

      let test = new TestRequest("result", "column", "timezone-list");
      test.update_time_zone();
      test.update_table();
      test.create_left_menu();
    };
  </script>
  <link rel="stylesheet" href="./landing/css/main.css" />
</head>
<body>
  {% include header.html %}
  <div class="carousel slide" data-ride="carousel">
    <div id="nav-content" class="carousel-inner"></div>
  </div>
  <div id="text-loader">
    <!-- Home -->
    {% include html-home.html %}
    <!-- Start Page -->
    {% include html-usage-container.html %}
    <!-- Dynamic Sample -->
    {% include html-sample.html %}
  </div>
  <script type="text/javascript">
    document.getElementById("text-loader").style.display = "none";
  </script>
</body>
