<div id="html-usage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div
          id="usage-column"
          class="nav flex-column nav-pills"
          aria-orientation="vertical"
        ></div>
      </div>
      <div class="col-10">
        <div class="carousel slide" data-ride="carousel">
          <div id="usage-content" class="carousel-inner">
            <div
              style="display: none"
              data-usage-container-id="Install"
              data-type-section-head="true"
            ></div>
            <div
              class="carousel-item active"
              data-usage-container-id="Getting started"
            >
              <!-- Start -->
              {% include usage-start.md %}
            </div>
            <div
              style="display: none"
              data-usage-container-id="API"
              data-type-section-head="true"
            ></div>
            <div class="carousel-item" data-usage-container-id="コンストラクタ">
              <!-- Constractor -->
              {% include usage-constractor.md %}
            </div>
            <div class="carousel-item" data-usage-container-id="変換API">
              <!-- Usage -->
              {% include usage-api.md %}
            </div>
            <div class="carousel-item" data-usage-container-id="オプション">
              <!-- Option -->
              {% include usage-option.md %}
            </div>
            <div
              style="display: none"
              data-usage-container-id="How to"
              data-type-section-head="true"
            ></div>
            <div
              class="carousel-item"
              data-usage-container-id="今日の時間を取る"
            >
              <!-- Usage -->
              {% include usageext-howto-date.md %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(window).bind("load", function () {
    let elements = $("[data-usage-container-id]");
    let parent = document.getElementById("usage-column");
    let active_element_count = 0;
    elements.each(function (item) {
      let container_id = elements[item].dataset.usageContainerId;
      if (elements[item].dataset.typeSectionHead) {
        let section_head = document.createElement("div");
        section_head.classList.add("list-section-header");
        section_head.innerHTML = container_id;
        parent.appendChild(section_head);
      } else {
        let child = document.createElement("a");
        child.classList.add("nav-link");
        if (active_element_count == 0) {
          child.classList.add("active");
        }
        child.style.cursor = "pointer";
        child.setAttribute("data-usage-id", container_id);
        child.innerHTML = container_id;
        child.onclick = onClickUsageItem;
        parent.appendChild(child);
        active_element_count++;
      }
    });
  });

  $(window).bind("load", function () {
    let tables = $("#c_start").find("table");
    tables.addClass("table");
    tables.addClass("table-striped");

    $("#c_start")
      .find("h1")
      .replaceWith(function () {
        let title = this;
        $(title).replaceWith(
          '<p class="karla-text title-font">' + title.innerHTML + "</p>"
        );
      });

    $("#c_start")
      .find("h2")
      .replaceWith(function () {
        let title = this;
        $(title).replaceWith(
          '<h5 class="card-title">' + title.innerHTML + "</h5>"
        );
      });

    let carousel_list = $("#c_start").find(".carousel-item");
    carousel_list.each(function (index) {
      let self = carousel_list[index];
      let html = self.innerHTML;
      html = html.replaceAll(
        "<h5",
        '<div class="card"><div class="card-body"><h5'
      );
      html = html.replaceAll("<hr>", "</div></div>");
      self.innerHTML = html;
    });
  });
</script>
