<div id="html-usage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div
          id="column-usage"
          class="nav flex-column nav-pills"
          aria-orientation="vertical"
        >
          <a class="nav-link active">Start</a>
        </div>
      </div>
      <div class="col-10">
        <div class="carousel slide" data-ride="carousel">
          <div id="usage-content" class="carousel-inner">
            <div class="carousel-item active">
              {% include html-start.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
