<div id="html-home">
  <div class="container-fluid">
    <div class="content-box">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 col-12">
          <img
            src="./landing/img/ai_computer_sousa_robot.gif"
            style="width: 100%"
          />
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <p class="karla-text section-font text-primary">What is NLPDate?</p>
          <p>自然言語が使える日時操作ライブラリ。</p>
          <p>
            自然に話すいつもの言葉（Natural
            Language）と、覚えやすい3つのメソッドだけで、JavaScriptに必要な全ての日時操作ができます。
          </p>
          <p>
            <button
              type="button"
              style="margin-top: 10px"
              onclick='_container.switchContainer("start")'
              class="btn btn-outline-primary col-lg-5 col-12"
            >
              はじめる
            </button>
            <button
              type="button"
              style="margin-top: 10px"
              class="btn btn-outline-primary col-lg-5 col-12"
            >
              <a href="https://github.com/ShotaOki/NLPDate" target="_blank"
                >GitHub</a
              >
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">NLPDate</p>
    <p class="text-center karla-text">
      A JavaScript date library for Parse, manipulate, and formatting. Users can
      write it using Natural Language.
    </p>
    <p class="text-center">
      「いつもの言葉」がJavaScriptのオブジェクトになるライブラリ
    </p>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">Environment</p>
    <p class="text-center">NLPDateは以下の環境で動作します。</p>
    <p class="text-center karla-text"><i class="fa fa-chrome"></i> Chrome</p>
    <p class="text-center karla-text">
      <i class="fa fa-internet-explorer"></i> Edge, IE11
    </p>
    <p class="text-center karla-text"><i class="fa fa-firefox"></i> Firefox</p>
    <p class="text-center karla-text"><i class="fa fa-safari"></i> Safari</p>
    <p class="text-center karla-text">
      <i class="fa fa-mobile"></i> Android Browser, iOS Safari
    </p>
    <p class="text-center karla-text">node.js</p>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">Why NLPDate?</p>
    <p class="text-center">
      日本語で書いた言葉がそのままJavaScriptで使えるデータになるから、
    </p>
    <div class="d-flex justify-content-center">
      <ul class="fa-ul custom-list">
        <li>
          <i class="fa fa-thumbs-up"></i>書いたソースが読みやすくなります。
        </li>
        <li>
          <i class="fa fa-thumbs-up"></i>覚えやすく、誰でも簡単に使えます。
        </li>
      </ul>
    </div>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">What is the difference?</p>
    <p class="text-center">
      JavaScript向け日時ライブラリと比べると？<br />例：Moment.js、Day.js
    </p>
    <div class="d-flex justify-content-center">
      <ul class="fa-ul custom-list">
        <li>
          <i class="fa fa-thumbs-up"></i
          >日時の操作、パース、フォーマット変換については、同じことができます。
        </li>
        <li>
          <i class="fa fa-thumbs-up"></i
          >NLPDateのメソッド数は3つ、覚えるのにかかる時間はずっと短く済みます。
        </li>
        <li style="margin-top: 8px">
          <i class="fa fa-check"></i
          >NLPDateのファイルサイズは、Moment.jsと同じくらいです。
        </li>
        <li style="margin-top: 8px">
          <i class="fa fa-times"></i
          >NLPDateに日時の検証、日時差分の計算の機能はありません。
        </li>
      </ul>
    </div>
  </div>

  <div class="content-box">
    <p class="text-center">
      他のNLP向け日時ライブラリと比べると？<br />例：PrettyTime::NLP
    </p>
    <div class="d-flex justify-content-center">
      <ul class="fa-ul custom-list">
        <li><i class="fa fa-thumbs-up"></i>NLPDateは日本語で利用できます。</li>
        <li>
          <i class="fa fa-thumbs-up"></i
          >NLPDateは対応する表現が多く、表記ゆれ、うろ覚えにも対応します。
        </li>
        <li style="margin-top: 8px">
          <i class="fa fa-times"></i
          >現在、NLPDateは日本語以外に対応していません。
        </li>
      </ul>
    </div>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">CDN</p>
    <p class="text-center">
      ブラウザで利用するときは、以下のCDNを使うことができます。
    </p>
    <div class="mx-auto" style="width: 800px">{% include code/cdn.html %}</div>
  </div>

  <div class="content-box">
    <p class="text-center karla-text title-font">Lisence</p>
    <p class="text-center">
      NLPDate、およびこのドキュメントはMITライセンスに基づいて許諾されます。
    </p>
  </div>

  <hr />
  <div style="font-size: 0.875rem; margin-left: 20px; margin-right: 20px">
    <p>
      NLPDateはコントリビュータの参加をお待ちしています。<!-- ドキュメントの問い合わせは
      <a href="">Oki</a>まで。-->
    </p>
  </div>
</div>
