body {
  font-family: "Sawarabi";
  font-size: 1.2rem;
}
.karla-text {
  font-family: "Caveat", cursive;
}
.title-font {
  font-size: 2.2em;
}
.section-font {
  font-size: 1.8em;
}
.content-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.fa {
  margin-right: 5px;
}
.fa-exclamation-triangle {
  color: orange;
}
.fa-times {
  color: red;
}
.fa-thumbs-up {
  color: green;
}
.fa-check {
  color: #eee;
}
.card {
  margin-bottom: 10px;
}
.list-section-header {
  margin-top: 8px;
  color: gray;
  font-size: 0.8em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
